@{
    Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add a new cuisine</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add a new cuisine" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>